@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.navlink {
  position: relative;
  display: inline-block;
  color: #fff; /* text color */
  text-decoration: none;

}

.navlink::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* underline thoda neeche dikhana hai */
  width: 0%;
  height: 3px;
  background-color: orange;
  transition: width 0.3s ease; /* smooth animation */
}

.navlink:hover::before {
  width: 100%;
}
